# Mac files
.DS_Store

# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode
*.code-workspace

# Minikube related
/.minikube/

# Terraform files
/.terraform/
/terraform/argocd-apps/
.terraform.lock.hcl

# Project files
/env/*/.initialized
/env/*/.kubeconfig
/env/*/secret.sh
/env/*/*.json
/env/*/*.tfstate
/env/*/*.tfstate.backup
/certs/
/extensions/
/docker/
/charts/
/logs/
/cache/

# Extra files
/tmp/
*.log
